.header {
    width: 100%;
    max-width: 880px;
    height: 100vw;
    max-height: 56px;
    margin: 0 auto;
    padding-top: 28px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 768px) {
    .header {
        max-height: 74px;
        padding-top: 45px;
    }
}