.profile__add-button {
    width: 100%;
    height: 50px;
    background-image: url("../../../images/add-button.svg");
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 36px;
}

@media screen and (min-width: 900px) {
    .profile__add-button {
        width: 150px;
        background-size: 22px 22px;
        margin: 0 0 0 244px;
    }
}